.student-add-form {
    margin-bottom: 2rem;
}

.text-danger {
    color: red;
}

.inventory-list-container {
    margin-top: 1rem;
}

.center_button {
    text-align: center;
}

@media only screen and (max-width: 400px) {
    .table_row_items {
        word-break: break-all;
        word-wrap: break-word;
    }
} 